.App {
  font-family: sans-serif;
  /* text-align: center; */
}

* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.wrapper {
  width: 350px;
  margin: auto;
}

.header {
  text-align: center;
  background-color: #2980b9;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 15px;
  font-size: 22px;
}


form {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input,
form button {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

form input {
  flex: 1;
  background-color: #fcfcfc;
}

form input::placeholder {
  font-size: 10px;
  position: relative;
  top: -1px;
  left: 5px;
}

form button {
  background-color: #2ecc71;
  cursor: pointer;
  padding: 5px 12px;
  color: white;
  margin-left: 10px;
}

.list {
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.list .empty {
  text-align: center;
  opacity: 0.5;
  padding: 20px;
}

.list .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

.list .item .done,
.list .item .notdone {
  margin-right: 5px;
}

.list .item .done {
  color: #2ecc71;
}

.list .item .notdone {
  color: #d9dcdf;
}

.list .item p {
  flex: 1;
  margin: 0px;
}

.list .item p.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.list .item span {
  opacity: 0.5;
  margin: 0px 5px;
  font-size: 12px;
}

.list .item button {
  padding: 4px 7px;
  font-size: 12px;
  background-color: #e74c3c;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}

.list .item:last-child {
  border-bottom: none;
}
